 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I left the Chemistry life but the Chemistry life did not leave me: pipettes, labcoats, goggles, and nitrile gloves. Mix, reflux, filter, some more filtering, maybe a bit of GC; NMR sounds fun too.</p>
                </div>
                <div class="col-lg-4">
                    <p>Technology is shiny, very shiny. There's a lot of pizza in Computer Science so I think I'll stay here for a while. Sleepless nights, glowing screens, syntax errors galore. But there's pizza.</p>
                </div>
            </div>
            <hr class="star-primary">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am a student attending UBC, enrolled in the Bachelor of Computer science program for my 2nd degree. I obtained my first degree in Chemistry, also at UBC. I don't ever regret doing my Chemistry degree; I really did enjoy analytical and inorganic, and the critical thinking and problem solving skills I gained are invaluable. I have always been interested in technology and had made my first website when I was 14 (a moment of silence for Geocities) and had even tried learning BASIC (do people still use that anymore?) in elementary school. One of my motivations in pursuing a Computer Science degree is to bring the knowledge of technology and technological solutions to society, hopefully I can make a positive impact!</p>
                    <hr class="star-primary">
                    <p>While I am not at home or in the lecture hall, I enjoy practicing various martial arts. Right now I am learning wushu staff techniques in hopes that I will become an Air Bender; I have also practiced lion dancing for over 10 years and you may see me performing on campus around Chinese New years. When I am at home and not doing serious work, I like to play games on Steam of sink some time on League of Legends. Maybe one day I will get out of Bronze (the lowest ranking on League of Legends) and reach for the stars called Master Tier! Sometimes I'll actually leave my home to socialize, and when I mean socialize, I mean my friends and I try to test our friendship by playing Mario Kart. </p>
                </div>
            </div>
        </div>
    </section>