 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I left the Chemistry life but the Chemistry life did not leave me: pipettes, labcoats, goggles, and nitrile gloves. Mix, reflux, filter, some more filtering, maybe a bit of GC, NMR sounds fun too.</p>
                </div>
                <div class="col-lg-4">
                    <p>Technology is shiny, very shiny. There's a lot of pizza in Computer Science so I think I'll stay here for a while. Sleepless nights, glowing screens, syntax errors galore. But there's pizza.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Technical Skills</h2>
                    <hr class="star-light">
                </div>
            
            </div>    

        </div>
    </section>