 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I left the Chemistry life but the Chemistry life did not leave me: pipettes, labcoats, goggles, and nitrile gloves. </p>
                </div>
                <div class="col-lg-4">
                    <p>Pursuing a career in pressing buttons.</p>
                </div>
            </div>
        </div>
    </section>