 <!-- Education -->
    <section class="success" id="experience">
        <div class="container">
            <div class= "row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Education</h3>
                    <h4>The University of British Columbia</h4>
                    <table>
                        <tr>
                            <td>2014 - Present</td>
                            <td>Bachelor's of Computer of Science Program</td>
                        </tr>
                        <tr>
                            <td>2009 - 2015</td>
                            <td>Bachelor's of Science in Chemistry</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Work/Volunteer</h3>
                    <table>
                        <tr>
                            <td>January 2015 - Present</td>
                            <td>Undergraduate Teaching Assistant (University of British Columbia)</td>
                        </tr>
                        <tr>
                            <td>April 2013 - August 2013</td>
                            <td>Laboratory Assistant (IPAC/Power Chemicals Ltd)</td>
                        </tr>
                        <tr>
                            <td>April 2012 - April 2014</td>
                            <td>Secretary/Outreach Coordinator (UBC Undergraduate Chemistry Society)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>