 <!-- Education -->
    <section class="success" id="experience">
        <div class="container">
            <div class= "row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                    <h3>Education</h3>
                    <p> Educational background written here </p>
                    <h3>Work</h3>
                    <p> Work Experience listed here</p>
                    <h3>Volunteer</h3>
                    <p> Volunteer Experience listed her</P>
                </div>
            </div>
        </div>
    </section>