 <!-- Education -->
    <section class="success" id="experience">
        <div class="container">
            <div class= "row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Education</h3>
                    <h4>The University of British Columbia</h4>
                    <table class="table" width="100%">
                        <tr>
                            <td width="30%">Sep 2014 - Present</td>
                            <td>Bachelor's of Computer Science Program</td>
                        </tr>
                        <tr>
                            <td width="30%">Sep 2009 - May 2014</td>
                            <td>Bachelor's of Science in Chemistry</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Work/Volunteer</h3>
                    <table class="table" width="100%">
                        <tr>
                            <td width="30%">Jan 2015 - Apr 2015</td>
                            <td>Undergraduate Teaching Assistant (University of British Columbia)</td>
                        </tr>
                        <tr>
                            <td>Apr 2012 - Apr 2014</td>
                            <td>Secretary/Outreach Coordinator (UBC Undergraduate Chemistry Society)</td>
                        </tr>
                        <tr>
                            <td>Apr 2013 - Aug 2013</td>
                            <td>Laboratory Assistant (IPAC/Power Chemicals Ltd)</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </section>