 <!-- About Section -->
    <section class="success" id="technical_skills">
        <div class="container">
            <div class= "row">
                <div class="col-lg-12 text-center">
                    <h2> Technical Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Programming</h3>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C#</li>
                        </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Tools/Frameworks</h3>
                    <ul>
                        <li>Eclipse</li>
                        <li>Android Studio</li>
                        <li>Unity</li>
                        <li>Spyder (Python)</li>
                    </ul>
                </div>
            </div>    

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Web Development</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>JQuery</li>
                        </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Applications</h3>
                    <ul>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div> 


        </div>
    </section>