 <!-- Technial Skills -->
    <section id="technical_skills">
        <div class="container">
            <div class= "row">
                <div class="col-lg-12 text-center">
                    <h2> Technical Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Languages</h3>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C++</li>
                            <li>SQL</li>
                            <li>Unix</li>
                            <li>Dr. Racket</li>
                        </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Frameworks/Apps</h3>
                    <ul>
                        <li>ReactJS</li>
                        <li>Django</li>
                        <li>Flask</li>
                        <li>Firebase</li>
                    </ul>
                </div>
            </div>    

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Web Development</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>JQuery</li>
                        </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Tools</h3>
                    <ul>
                        <li>Git/Bitbucket</li>
                        <li>IntelliJ</li>
                        <li>Eclipse</li>
                        <li>Spyder (Python IDE)</li>
                        <li>Unity</li>
                    </ul>
                </div>
            </div> 


        </div>
    </section>