<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include portfolio_grid.html %}
    {% include technical_skills.html %}
    

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

        <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=10374503; 
    var sc_invisible=1; 
    var sc_security="260e85c3"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="shopify
    analytics" href="http://statcounter.com/shopify/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/10374503/0/260e85c3/1/"
    alt="shopify analytics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
    </body>
</html>